.main-container {
    background-color: rgb(235, 238, 235);
}

.container-foods {
    align-items: center;
    /* background-color: rgb(240, 71, 71); */
    display: inline-flex;
    border-radius: 50% 20%;
    display: inline-flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    padding: 20px;
    text-align: center;
}

.name-foods {
    color: black;
}

.container-foods h3 {
    font-size: 20px;
    width: 150px;
}

.link-foods {
    color: black;
    font-family: Raleway, sans-serif;
}

.image-foods {
    border-radius: 30px;
}